python-dotenv
pypdf
python-docx

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-chroma
langgraph

chromadb
sentence-transformers

streamlit
pandas